:root {
  --main-background-color: #ffffff;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --hero-btn-color: #2196f3;
  --hero-btn-act-color: #188ce8;
  --hero-bg-color: #2f303a;
  --footer-bg-color: #2f303a;
  --hero-text-color: #ffffff;
  --footer-text-color: #ffffff;
  --act-btn-txt-color: #ffffff;
  --logo-black-color: #000000;
  --logo-blue-color: #2196f3;
  --benefits-bg-color: #f5f4fa;
  --team-bg-color: #f5f4fa;
  --team-card-color: #ffffff;
  --portfolio-btn-color: #f5f4fa;
  --portfolio-item-border: #eeeeee;
  --team-social-link-color: #afb1b8;
  --team-social-link-act-color: #ffffff;
  --clients-icon-color: #afb1b8;
  --clients-icon-act-color: #2196f3;
  --backdrop-bgc-color: rgba(0, 0, 0, 0.2);
  --modal-bg-color: #ffffff;
  --portfolio-overlay-txt-color: #ffffff;
  --transition-rules: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  /* outline: 1px solid teal; */
  /* это я оставил пока для удобства работы
  потом приберу */
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color);
}

h1,
h2,
h3,
h4,
p,
a {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  margin: 0 auto;
}
.flexbox {
  display: flex;
  align-items: center;
}
.main-header {
  border-bottom: 1px solid #ececec;
}
.link-logo,
.link-logo1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 25px;
}
.link-logo {
  margin-right: 93px;
  color: var(--logo-black-color);
}
.link-logo1,
.footer-logo1 {
  color: var(--logo-blue-color);
}
.nav-list-item,
.mailto,
.telephone {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  cursor: pointer;
}
.nav-link,
.mailto,
.telephone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.nav-list {
  display: flex;
}
.nav-list-item:not(:last-child) {
  margin-right: 50px;
}
.contacts-list {
  display: flex;
  justify-content: center;
  margin-left: auto;
}
.mailto {
  margin-right: 50px;
}
.nav-link {
  color: var(--main-text-color);
  transition: color var(--transition-rules);
}
.mailto,
.telephone,
.benefits-txt,
.team-role,
.portfolio-txt {
  color: var(--secondary-text-color);
  transition: color var(--transition-rules);
}
.nav-link:hover,
.mailto:hover,
.telephone:hover,
.nav-link:focus,
.mailto:focus,
.telephone:focus {
  color: var(--accent-color);
}
.nav-list-item {
  position: relative;
}
.nav-link.current {
  color: var(--accent-color);
}
.current::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}
.mailto,
.telephone {
  display: flex;
  align-items: center;
}
.mailto-icon,
.telephone-icon {
  fill: currentColor;
  margin-right: 10px;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.hero {
  padding-top: 200px;
  background-color: var(--hero-bg-color);
  text-align: center;
  padding-bottom: 200px;
}
.hero-overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bcg-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var (--hero-bg-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-text-color);
  margin-bottom: 30px;
}
.hero-btn {
  min-width: 216px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  font-family: inherit;
  background-color: var(--hero-btn-color);
  color: var(--hero-text-color);
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 1);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.89;
  letter-spacing: 0.06em;
  transition: box-shadow var(--transition-rules), background-color var(--transition-rules);
}
.hero-btn:hover,
.hero-btn:focus {
  cursor: pointer;
  background-color: var(--hero-btn-act-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.benefits-list {
  display: flex;
  flex-wrap: wrap;
}
.benefits-item {
  text-align: left;
  flex-basis: calc((100% - 90px) / 4);
}
.benefits-item-svg {
  display: flex;
  height: 120px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  background-color: var(--benefits-bg-color);
  margin-bottom: 30px;
}
.benefits-item-icon {
  fill: currentColor;
}
.benefits-item:not(:last-child) {
  margin-right: 30px;
}
.benefits-item-title {
  margin-bottom: 10px;
}
.benefits-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.benefits-txt {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.h2-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.occupation {
  padding-bottom: 94px;
  flex-direction: column;
}
.occupation-list {
  display: flex;
}
.occupation-list-item {
  position: relative;
  flex-basis: calc((100% - 60px) / 3);
}
.occupation-list-item:not(:last-child) {
  margin-right: 30px;
}
.occupation-title-backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
}
.occupation-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-text-color);
}
.team {
  flex-direction: column;
  background-color: var(--team-bg-color);
}
.team-list {
  flex-wrap: wrap;
}
.team-card-txt {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-item {
  flex-basis: calc((100% - 90px) / 4);
  background-color: var(--team-card-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.team-role {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
.team-card-social {
  justify-content: center;
  gap: 10px;
}
.team-card-social-item {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.team-link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  color: var(--team-social-link-color);
  transition: background-color var(--transition-rules), color var(--transition-rules);
}
.team-link:hover,
.team-link:focus {
  background-color: var(--accent-color);
  color: var(--team-social-link-act-color);
}
.team-card-social-icon {
  fill: currentColor;
}

.clients-item {
  flex-basis: calc((100% - 150px) / 6);
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}
.clients-item-svg {
  line-height: 0;
  display: flex;
  color: var(--clients-icon-color);
  height: 92px;
  border-radius: 4px;
  border: 1px solid var(--clients-icon-color);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  transition: border-color var(--transition-rules), color var(--transition-rules);
}
.clients-item-svg:hover,
.clients-item-svg:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
.clients-item-icon {
  fill: currentColor;
}

.site-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-bg-color);
}
.footer-flexbox {
  display: flex;
  align-items: baseline;
}
.foter-contacts {
  flex-direction: column;
  align-items: flex-start;
  margin-right: 70px;
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--footer-text-color);
  text-decoration: none;
  margin-bottom: 20px;
}
.footer-contacts-list {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 9px;
}
.footer-address,
.footer-mailto,
.footer-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: color var(--transition-rules);
}
.footer-address {
  color: var(--footer-text-color);
}
.footer-mailto,
.footer-tel {
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition-rules);
}
.footer-address:hover,
.footer-mailto:hover,
.footer-tel:hover,
.footer-address:focus,
.footer-mailto:focus,
.footer-tel:focus {
  color: var(--accent-color);
}
.join {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.join-title {
  justify-self: left;
  margin-top: 12px;
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--footer-text-color);
}
.join-list-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.join-link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: var(--footer-text-color);
  transition: background-color var(--transition-rules);
}
.join-link:hover,
.join-link:focus {
  background-color: var(--accent-color);
}
.join-list {
  gap: 10px;
}
.footer-social-icon {
  fill: currentColor;
}
.portfolio-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-btn.active {
  color: var(--act-btn-txt-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgb(0 0 0 / 10%), 0px 1px 2px rgb(0 0 0 / 8%),
    0px 2px 2px rgb(0 0 0 / 12%);
}
.portfolio-btn {
  cursor: pointer;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: 0;
  border-radius: 4px;
  background-color: var(--portfolio-btn-color);
  transition: box-shadow var(--transition-rules), background-color var(--transition-rules),
    color var(--transition-rules);
}
.porfolio-filter-list:not(:last-child) {
  margin-right: 8px;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--act-btn-txt-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgb(0 0 0 / 10%), 0px 1px 2px rgb(0 0 0 / 8%),
    0px 2px 2px rgb(0 0 0 / 12%);
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}
.portfolio-item {
  flex-basis: calc((100% - 60px) / 3);
}
.portfolio-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.portfolio-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.portfolio-item-link {
  display: block;
  text-decoration: none;
  transition: box-shadow var(--transition-rules);
}
.portfolio-img-overlay {
  position: relative;
  overflow: hidden;
}
.portfolio-img-txt {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  padding-left: 24px;
  padding-right: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--portfolio-overlay-txt-color);
  overflow: auto;
  transform: translateY(100%);
  transition: transform var(--transition-rules);
}
.portfolio-item-link:hover,
.portfolio-item-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-item-link:hover .portfolio-img-txt,
.portfolio-item-link:focus .portfolio-img-txt {
  transform: translateY(0);
}
.portfolio-card-txt {
  padding: 20px;
  border-left: 1px solid var(--portfolio-item-border);
  border-right: 1px solid var(--portfolio-item-border);
  border-bottom: 1px solid var(--portfolio-item-border);
}
.potfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--main-text-color);
}
.portfolio-txt {
  font-size: 16px;
  line-height: 1.89;
  letter-spacing: 0.03em;
}

/* -------- SUBSCRIBE ---------- */
.subscribe {
  text-align: left;
  margin-left: auto;
}
.subscribe-block {
  display: flex;
  text-align: left;
}
.subscribe-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--footer-text-color);
  margin-bottom: 20px;
}
.subscribe-field {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  color: var(--footer-text-color);
}
.subscribe-field::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-svg {
  margin-left: 10px;
}
.subscribe-icon {
  fill: var(--act-btn-txt-color);
}
.subscribe-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--act-btn-txt-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 28px;
  padding-left: 28px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color var(--transition-rules);
}
.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--hero-btn-act-color);
}
/* -------------MODAL WINDOW-------------- */

.backdrop {
  z-index: 999999999;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-bgc-color);
  opacity: 1;
  visibility: visible;
  transform: scale(100%);
  transition: transform var(--transition-rules), opacity var(--transition-rules),
    visibility var(--transition-rules);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0%);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  padding: 40px;
  background-color: var(--modal-bg-color);
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--act-btn-txt-color);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: box-shadow var(--transition-rules), opacity var(--transition-rules),
    transform var(--transition-rules), visibility var(--transition-rules);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  box-shadow: 0px 1px 3px rgba(233, 17, 17, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 12px;
}
.modal-label-title {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  display: block;
  margin-bottom: 4px;
}
.modal-input-label {
  margin-bottom: 10px;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  transition: border-color var(--transition-rules);
}
.modal-input-field {
  position: relative;
  display: block;
}
.modal-input-svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  fill: inherit;
  transition: fill var(--transition-rules);
}
.modal-input:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal-input:focus + .modal-input-svg {
  fill: var(--accent-color);
}
.modal-comment-txt {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 20px;
  transition: border-color var(--transition-rules);
}
.modal-comment-txt:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal-comment-txt::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-chekbox-block {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.modal-checkbox {
  appearance: none;
  position: absolute;
}
.modal-checkbox-label {
  text-align: center;
  justify-content: center;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.modal-checkbox-svg {
  margin-right: 7px;
  transition: fill var(--transition-rules);
}
.modal-checkbox:focus + .modal-checkbox-svg {
  fill: var(--accent-color);
}
.modal-checkbox:checked + .modal-checkbox-svg .modal-checkbox-icon {
  display: none;
}
.modal-checkbox:checked + .modal-checkbox-svg .modal-checkbox-icon-check {
  display: block;
}
.modal-checkbox-icon {
  transition: visibility var(--transition-rules);
}
.modal-checkbox-icon-check {
  display: none;
}
.contract-rules-link {
  text-decoration: none;
}
.contract-rules {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: underline;
  color: var(--accent-color);
}
.contract-rules:hover {
  text-decoration: none;
}
.modal-btn-submit {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--act-btn-txt-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 50px;
  padding-right: 50px;
  align-self: center;
  border: 0;
  cursor: pointer;
  transition: background-color var(--transition-rules);
}
.modal-btn-submit:hover,
.modal-btn-submit:focus {
  background-color: var(--hero-btn-act-color);
}
